<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>
<th:block th:fragment="brand">
    <section id="brand_area" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="brand_slide owl-carousel">
                        <div class="item text-center"> <a href="#"><img src="img/brand/1.png" alt="" class="img-responsive" /></a> </div>
                        <div class="item text-center"> <a href="#"><img src="img/brand/2.png" alt="" class="img-responsive" /></a> </div>
                        <div class="item text-center"> <a href="#"><img src="img/brand/3.png" alt="" class="img-responsive" /></a> </div>
                        <div class="item text-center"> <a href="#"><img src="img/brand/4.png" alt="" class="img-responsive" /></a> </div>
                        <div class="item text-center"> <a href="#"><img src="img/brand/5.png" alt="" class="img-responsive" /></a> </div>
                        <div class="item text-center"> <a href="#"><img src="img/brand/6.png" alt="" class="img-responsive" /></a> </div>
                        <div class="item text-center"> <a href="#"><img src="img/brand/7.png" alt="" class="img-responsive" /></a> </div>
                        <div class="item text-center"> <a href="#"><img src="img/brand/8.png" alt="" class="img-responsive" /></a> </div>
                        <div class="item text-center"> <a href="#"><img src="img/brand/9.png" alt="" class="img-responsive" /></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>

</body>
</html>
