<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>
<th:block th:fragment="freeShippingBlock">
    <!--  Process -->
    <section class="process_area section_padding gradient_section">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-process">
                        <!-- process Icon -->
                        <div class="picon"><i class="fa fa-truck"></i></div>
                        <!-- process Content -->
                        <div class="process_content">
                            <h3>free shipping</h3>
                            <p>Lorem ipsum dummy</p>
                        </div>
                    </div>
                </div>	<!-- End Col -->

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-process">
                        <!-- process Icon -->
                        <div class="picon"><i class="fa fa-money"></i></div>
                        <!-- process Content -->
                        <div class="process_content">
                            <h3>Cash On Delivery</h3>
                            <p>Lorem ipsum dummy</p>
                        </div>
                    </div>
                </div>	<!-- End Col -->

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-process">
                        <!-- process Icon -->
                        <div class="picon"><i class="fa fa-headphones "></i></div>
                        <!-- process Content -->
                        <div class="process_content">
                            <h3>Support 24/7</h3>
                            <p>Lorem ipsum dummy</p>
                        </div>
                    </div>
                </div>	<!-- End Col -->

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-process">
                        <!-- process Icon -->
                        <div class="picon"><i class="fa fa-clock-o"></i></div>
                        <!-- process Content -->
                        <div class="process_content">
                            <h3>Opening All Week</h3>
                            <p>Lorem ipsum dummy</p>
                        </div>
                    </div>
                </div>	<!-- End Col -->

            </div>
        </div>
    </section>
    <!--  End Process -->
</th:block>

</body>
</html>
